<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="Robots" content="index,follow" />
	<meta name="author" content="Project 13 (www.refinecomments.com)" />
	<meta name="description" content="Refine: Building Better Dialogue" />
	<meta name="keywords" content="refine, dialogue, comments, online, filter, topics" />
	<link rel="stylesheet" type="text/css" href="/static/css/about.css" media="screen" />
	
	<title>Refine: Building Better Dialogue</title>
	
</head>
<body>
	<div id="content">
		<p id="top"> </p>
		
		<div id="logo">
			<h1><a href="index.html"></a></h1>
		</div>
		
		<ul id="menu">
			<li class="current"><a href="index.html">Home</a></li>
			<li><a href="tryrefine.html">Try It</a></li>
			<li><a href="about.html">The Team</a></li>
			<li><a href="contact.html">Contact</a></li>
		</ul>
		
		<div class="line"></div>
		<div id="pitch">
			<h1>Meet Project 13:</h1>
			<br>
		</div>	
		
		<div id="about">
		
        <p><img src="/static/img/Alex.jpg"/><style font-weight="bold";>Alex Madjar: 
        Tech Developer: Back End</style>Alex Madjar has spent the last four
        years learning what makes good code. A veteran of Google and Microsoft,
        he's helped build and test code that reaches millions. It is his
        involvement in machine learning and interaction research, however, that
        taught him that good code adapts to its users. Alex has studied at
        Northwestern University and the Queen Mary University of London.</p>

		
        <p><img src="/static/img/Josiah.jpg"/><style font-weight="bold";>Josiah Matlack: 
        Tech Developer: Front End</style>Josiah Matlack is a junior
        computer science major in the McCormick School of Engineering and
        Applied Science. He hails from Hudson, Ohio. He plans to obtain
        a Master's in Computer Science, and specializes in systems and
        security. He has interned for PepsiCo Inc., and is currently a Lead
        Consultant at Northwestern University IT.</p>

		
        <p><img src="/static/img/Marisa.jpg"/><style font-weight="bold";>Marisa Paulson: 
        Content Creation, Journalistic Insight, Website</style>Marisa Paulson is a Master of
        Science in Journalism candidate at the Medill School of Journalism and
        expects to graduate in August 2012, focusing on interactive media and
        media management. She earned her B.A. in journalism and mass media
        communication at Concordia College in Moorhead, Minn., in 2011. She has
        worked for the American Dental Association, Sanford Health and U.S.
        Senator Kent Conrad.</p>

		
        <p><img src="/static/img/Ali.jpg"/><style font-weight="bold";>Ali Pisano: 
        Content Creation, Journalistic Insight, Graphics</style>Ali Pisano is a Master of Science in
        Journalism candidate at the Medill School of Journalism and expects to
        graduate in August 2012, focusing on interactive media and media
        management.  Before coming to Medill, she worked as an editorial
        assistant at Free Press, a division of Simon &amp; Schuster.  She graduated
        from the University of Virginia in 2009 with a B.A. in Classics and
        History.</p>
		
		</div>
		
		<div class="third">
		</div>
		
		<div class="third">
		</div>
		
		
		<div class="third last">
		</div>

		
		<div class="line"></div>
		<div class="left">
			<h4>About Project 13</h4>
			<p><em>Project 13 started in the spring of 2012 in the course "Collaboration in Journalism and Technology" at Northwestern University. This class brought together two computer science and two journalism students together to create Refine in ten weeks. Project 13 is Alex Madjar, Josiah Matlack, Marisa Paulson, and Ali Pisano. Find out more <a href="about.html">about them.</a></em></p>
		</div>
		
		
		<div class="right">
			<h3>Want more?</h3>
			<p>Check out Project 13's progress on <a href="http://www.techmediastreet.com/" target="_blank">Tech Media Street.</a></p>
			<br />
			
			<h3>Where are we?</h3>
			<p>Project 13 is a joint project between Northwestern University's <a href="http://www.mccormick.northwestern.edu/" target="_blank">McCormick School of Engineering</a> and <a href="http://www.medill.northwestern.edu/" target="_blank">Medill School of Journalism.</a> We're based in Evanston, IL.</p>
		</div>
		
		<div id="footer">
			<p>&copy; Copyright 2012 Project 13 &minus; Original CSS by Luka Cvrk, <a href="http://www.solucija.com" target="_blank">Solucija</a></p>
		</div>	
		
	</div>
</body>
</html>
