<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="Robots" content="index,follow" />
	<meta name="author" content="Project 13 (www.refinecomments.com)" />
	<meta name="description" content="Refine: Building Better Dialogue" />
	<meta name="keywords" content="refine, dialogue, comments, online, filter, topics" />
	<link rel="stylesheet" type="text/css" href="/static/css/contact.css" media="screen" />
	
	<title>Refine: Building Better Dialogue</title>
	
</head>
<body>
	<div id="content">
		<p id="top"> </p>
		
		<div id="logo">
			<h1><a href="index.html"></a></h1>
		</div>
		
		<ul id="menu">
			<li class="current"><a href="index.html">Home</a></li>
			<li><a href="tryrefine.html">Try It</a></li>
			<li><a href="about.html">The Team</a></li>
			<li><a href="contact.html">Contact</a></li>
		</ul>
		
		<div class="line"></div>
		<div id="pitch">
			<h1>Send Us a Message:</h1>
			<br>
			
		
		<div id="contact">
		
<table cellspacing="0" cellpadding="0" border="0"><tr><td><iframe width="400" height="440" frameborder="0" src="http://www.foxyform.com/form.php?id=243821&sec_hash=9d5cfb4d4fa"></iframe></td></tr><tr><td align="center"><a style="font:8px Arial;color:#5C5C5C;" href="http://www.foxyform.com">foxyform.com</a></td></tr></table>
		
		</div></div>
		
		<div class="third">
		</div>
		
		<div class="third">
		</div>
		
		
		<div class="third last">
		</div>

		
		<div class="line"></div>
		<div class="left">
			<h4>About Project 13</h4>
			<p><em>Project 13 started in the spring of 2012 in the course "Collaboration in Journalism and Technology" at Northwestern University. This class brought together two computer science and two journalism students together to create Refine in ten weeks. Project 13 is Alex Madjar, Josiah Matlack, Marisa Paulson, and Ali Pisano. Find out more <a href="about.html">about them.</a></em></p>
		</div>
		
		
		<div class="right">
			<h3>Want more?</h3>
			<p>Check out Project 13's progress on <a href="http://www.techmediastreet.com/" target="_blank">Tech Media Street.</a></p>
			<br />
			
			<h3>Where are we?</h3>
			<p>Project 13 is a joint project between Northwestern University's <a href="http://www.mccormick.northwestern.edu/" target="_blank">McCormick School of Engineering</a> and <a href="http://www.medill.northwestern.edu/" target="_blank">Medill School of Journalism.</a> We're based in Evanston, IL.</p>
		</div>
		
		<div id="footer">
			<p>&copy; Copyright 2012 Project 13 &minus; Original CSS by Luka Cvrk, <a href="http://www.solucija.com" target="_blank">Solucija</a></p>
		</div>	
		
	</div>
</body>
</html>
